html {
  font-size: 62.5%; //10px = 1rem
}

body {
  min-height: 100vh;

  background-image: linear-gradient($color-primary, $color-secondary);
  background-size: cover;

  font-weight: 400;
  font-size: 1.6rem;
}

//Grid

.container {
  max-width: 100rem;
  margin: 10rem auto;

  display: grid;
  grid-template-rows: 7rem minmax(45rem, auto) 3rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
  "header header header"
  "area-1 area-2 area-3"
  "footer footer footer";

  background-color: $color-white;
  border-radius: $radius-small;
  box-shadow: $shadow;
}
