.header {
  grid-area: header;

  display: flex;
  align-items: center;
  padding: 1rem;

  font-family: Merienda;
  font-size: 1.5rem;
  color: $color-grey-dark-1;

  &__logo {
    display: flex;
    align-items: center;
    &--img {
      height: 5rem;
      margin-right: 0.5rem;
    }
  }
}

.catalog {
  grid-area: area-1;

  background-color: $color-grey-dark-2;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    list-style: none;
    padding: 1rem;

    &--book {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.1rem;
      line-height: 1;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

.book-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1;
  color: $color-black;
}

.description {
  grid-area: area-2;

  background-color: $color-secondary;
}

.section-3 {
  grid-area: area-3;

  background-color: $color-primary;
}

.footer {
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
}
